
body, html, a,p, ul, div, img{
    margin:0px;
	padding: 0px;
}
li{
	padding: 5px;
}
td{
	padding: 5px;
	vertical-align: top;
}
body{
		/*background-color:#011627;*/
	font-family: Rajdhani;
}

a.fab {font-weight:900}

/*.strokeme
{
	padding-bottom: 20px;
    text-shadow:
    0px 0px 0 #ECEBDC,
    0px 0px 0 #444,
    0px 5px 0 #444,
    2px 5px 0 #444;  
}*/
.whiteText{
	color:#fff;
}
.lightBlueText{
	color:#91a0ba;
}

.redText{
	color:#A59487;
}

.orangeText{
	color:#FF9F1C;
}
.taupText{
	color:#f2e8d0;
}
.redText{
	color:#990000;
}

.sansFont{
	font-family: sans-serif;
}
	
.header{
	width:100%;
	margin:0px;
	padding-right: 10px;
}

.headerbody{
	max-width: 896px;
	margin-right: auto;
	margin-left: auto;
	margin-top:0px;
	margin-bottom:0px;
}

.socialMediaImg{
	height:40px;
}

.courseBin{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}
.courseBin_head{
	width: 100%;
	font-family: 'Mada', sans-serif;
	font-size: 2em;
	padding: 3px;
	font-family: Courgette;
}
.courseBin_body{
	width: 100%;
	/*background-color:#FDFFFC; */
	padding-bottom: 4px;
	/*outline: 4px solid  #FF9F1C;*/
}
.courseBin_body ul
{
	list-style: none;
}
.courseBin_body a{
	text-decoration: none;
	color: #2968ce;
	font-weight: 500;
	font-size: 15px;
	padding: 10px;
	vertical-align: top;
}

a .orangeText {
	font-size: 13px;
	text-decoration: none;
}

a:hover .orangeText, a:hover .taupText {
	color: red;
	font-weight: bold;
}

a:hover .redText {
	font-weight: bold;
}

a:visited .orangeText {
	color: #d3bba0;
}

.news_img{
	float: left; 
	width: 230px; 
	margin-right: 6px;
	color:#990000;
	margin-bottom: 6px;
	padding: 6px;
	/*outline: 1px solid #990000;*/
}

.footId{
	/*background-color:#2EC4B6;*/
	width:100%;
	min-height:200px;
	margin:0px;
}

.footbodyId{
	max-width: 1024px;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
	margin-top:0px;
	margin-bottom:0px;
}
.footerSection{
	width:252px; 
	display:inline-block
}

.footerSection, .footerSection a{
	color: #e8e8e8;
}
.footerSectionHeader{
	padding:5px;
	font-size: 16px;
}

.footerSectionBody{
	list-style-type: none;
	font-size: 13px;
}

.footerSectionBody ul{
	list-style-type: none;
}
